* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
}

.page-wrapper {
  padding: 100px 0;
}

.container {
  max-width: 1900px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

input:focus,
button:focus {
  outline:none;
}

.emoji {
  font-size: 26px;
}
