@import '../../../styles/variables/colors';

.mosaic {
  column-count: 3;
  column-gap: 5px;
  max-width: 1200px;
  margin: 0 auto;
}

.pagination {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 100px;

  li {
    border: 1px solid $grey;
    border-right: 1px solid transparent;

    &:hover {
      color: $white;
      border: 1px solid $purple;
      opacity: .8;
      background-color: $purple;
    }

    &:nth-last-child(1) {
      border-right: 1px solid $grey;
    }

    a {
      font-size: 13px;
      font-weight: bold;
      display: inline-block;
      padding: 12px 16px;
    }
  }
}

.active {
  color: $white;
  border: 1px solid $purple !important;
  background-color: $purple;
}

.noResultsMessage {
  text-align: center;
}
